@model OrderModel
@{
    ViewData["Title"] = "Add";
}

<h1>Add Order</h1>
<form asp-action="Add" method="post">
    <p>todo1: select Customer from list</p>
    <p>todo2: select Customer from mvc Identity</p>
    <button type="submit">Add Order</button>
</form>

