@model List<OrderModel>
@{
    ViewData["Title"] = "Index";
}
<a class="btn btn-light" asp-controller="Order" asp-action="Add">Add New Order</a>
<br />
<h1>My Orders:</h1>
<p>todo: details of order</p>
<table class="table">
    <thead>
        <tr>
            <th>Lp</th>
            <th>Status</th>
            <th>OrderStart</th>
            <th>OrderEnd</th>
            <th>Edit</th>
            <th>Remove order</th>
        </tr>
    </thead>
    <tbody>
        @{int lp = 0; }
        @foreach (var order in Model)
        {
            lp++;
            <tr style="background-color: white">
                <td> @lp                                                    </td>
                <td> @order.Status                                            </td>
                <td> @order.OrderStart                                        </td>
                <td> @order.OrderEnd                                          </td>
                <td> <a href="~/Order/Edit/@order.Id">Edit/Show</a>     </td>
                @if (order.Status == "Open")
                {
                    <td> <a href="~/Order/Remove/@order.Id">Remove</a>      </td>
                }
            </tr>
        }
    </tbody>
</table>
