@{
    ViewData["Title"] = "Add";
}
<h4>Add Image to product with id: @ViewData["productId"]</h4>
<div class="row">
    <!--
    odel App.ViewModels.ImageViewModel
        <form asp-controller="Image" asp-action="Add" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input type="file" name="ImageFile" class="form-control" multiple />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        -->
    @using (Html.BeginForm("Add", "Image", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="ProductId" value="@ViewData["productId"]" />
        <input type="file" name="file" />
        <br />
        <input type="submit" name="Submit" id="Submit" value="Upload" />
    }
</div>


