
@{
    ViewData["Title"] = "RegisterSuccess";
}

<h1>RegisterSuccess</h1>
<p>In example: Email was sent to you. Read it and click on the link to ligin. </p>
<p>Na potrzeby tego projektu -> zaloguj się</p>

