@model ProductModel
@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <div>
        <label>Name:</label>
        <input type="text" asp-for="Name" />
        <p class="alert-danger"> @Html.ValidationMessageFor(model => model.Name) </p>
    </div>
    <div>
        <label>Description:</label>
        <textarea asp-for="Description"></textarea>
        <p class="alert-danger"> @Html.ValidationMessageFor(model => model.Description) </p>
    </div>
    <div>
        <label>Price:</label>
        <input asp-for="Price" />
        <span asp-validation-for="Price" class="text-danger"></span>
        <p class="alert-danger"> @Html.ValidationMessageFor(model => model.Price) </p>
    </div>
    <button>Edit</button>
</form>
