@model List<ProductModel>
@{
    ViewData["Title"] = "MyProduction";
}
<a class="btn btn-light" asp-controller="Product" asp-action="Add">Add product</a>
<br />
<p>todo: remove product</p>
<h1>MyProducts:</h1>
<table class="table-bordered">
    <thead>
        <tr>
            <th>Lp</th>
            <th>Name</th>
            <th>Category</th>
            <th>Product details</th>
            <th>Price</th>
            <th>Total sell</th>
            <th>Active orders</th>
            <th>Show orders</th>
            <th>Remove product</th>
            <th>Add image</th>
        </tr>
    </thead>
    <tbody>
        @{int lp = 0; }
        @foreach (ProductModel product in Model)
        {
            lp++;
            <tr style="background-color: white">
                <td> @lp                                            </td>
                <td> @product.Name                                      </td>
                <td> @product.Category                                  </td>
                <td> <a href="~/Product/Details/@product.Id">Details</a></td>
                <td> @product.Price                                     </td>
                @{
                    decimal totalSell = 0;
                    foreach (ProductOrderModel pom in product.ProductOrder)
                    {
                        totalSell += pom.Product.Price * pom.ProductQuantity;
                    }
                }
                <td> @totalSell                                     </td>
                @{
                    int activeOrders = 0;
                    foreach (ProductOrderModel pom in product.ProductOrder)
                    {
                        if (pom.Order.Status == "Active") { activeOrders++; }
                    }
                }
                <td> @activeOrders                                   </td>
                <td> <a href="~/Product/ShowOrders/@product.Id">Show</a> </td>
                <td> <a href="~/Product/Remove/@product.Id">Remove</a>   </td>
                <td> <a href="~/Image/Add/@product.Id">Add image</a> </td>
            </tr>
        }
    </tbody>
</table>
<p> todo:</p>
<p> sortuj po wartosci sprzedanych zamowien malejaco </p>
<p> select only products from logged producer </p>
