@model List<ProductModel>
@{
    ViewData["Title"] = "MyProducts";
}
<a class="nav-link text-dark" asp-controller="Product" asp-action="Add">Add products</a>
<a class="nav-link" asp-controller="Product" asp-action="Add">Add products</a>
<br />
<p>todo: remove product</p>
<h1>MyProducts:</h1>
<table class="table-bordered">
    <thead>
        <tr>
            <th>Lp</th>
            <th>Name</th>
            <th>Category</th>
            <th>Product details</th>
            <th>Price</th>
            <th>Total sell</th>
            <th>Active orders</th>
            <th>Show orders</th>
            <th>Remove product</th>
        </tr>
    </thead>
    <tbody>
        @{int lp = 0; }
        @foreach (var row in Model)
        {
            lp++;
            <tr style="background-color: white">
                <td> @lp                                            </td>
                <td> @row.Name                                      </td>
                <td> @row.Category                                  </td>
                <td> <a href="~/Product/Details/@row.Id">Details</a></td>
                <td> @row.Price                                     </td>
                @{
                    decimal totalSell = 0;
                    foreach (ProductOrderModel pom in row.ProductOrder)
                    {
                        totalSell += pom.Product.Price * pom.ProductQuantity;
                    }
                }
                <td> @totalSell                                     </td>
                @{
                    int activeOrders = 0;
                    foreach (ProductOrderModel pom in row.ProductOrder)
                    {
                        if (pom.Order.Status == "Active") { activeOrders++; }
                    }
                }
                <td> @activeOrders                                   </td>
                <td> <a href="~/Product/ShowOrders/@row.Id">Show</a> </td>
                <td> <a href="~/Product/Remove/@row.Id">Remove</a>   </td>
            </tr>
        }
    </tbody>
</table>
<p> todo:</p>
<p> sortuj po wartosci sprzedanych zamowien malejaco </p>
<p> select only products from logged producer </p>
