@{
    ViewData["Title"] = "Home Page";
}
<h1>Witaj w sklepie z produktami lokalnymi</h1>
@if (User.Identity.IsAuthenticated)
{
    <div>
        @{
            if (User.IsInRole("AdministratorIT"))
            {
                <p>Witaj AdministratorIT</p>
                <a asp-controller="Role" asp-action="Index">Zarządzaj rolami użytkowników</a>
            }
            else if (User.IsInRole("Producent"))
            { <p>Witaj Producent</p> }
            else if (User.IsInRole("Konsument"))
            { <p>Witaj Konsument</p> }
            else
            { <p>Brak roli w systemie</p> }
        }
    </div>
    <a asp-controller="Role" asp-action="Index">Zarządzaj rolami użytkowników w systemie</a>
    <br />
}

<div>
    <h3>ToDo:</h3>
    <p> =========================== </p>
    <p></p>
    <p></p>
    <p></p>
</div>
<div>
    <h3>        todo w ProductService.Update:    </h3>
    <p> =========================== </p>
    <p>        public CategoryModel Category { get; set; }    </p>
    <p>        public ProductOrderModel ProductOrder { get; set; }    </p>
    <p>        public ProducerModel Producer { get; set; }    </p>
    <p>    </p>
    <p>    </p>
</div>
<div>
    <h3>todo OrderController.Index: </h3>
    <p> =========================== </p>
    <p>zeby wyswietlal tylko zamowienia zalogowanego uzytownika </p>
    <p>order closed /notclosed na liscie i wtedy klikasz i dodajesz produkty do niego    </p>
    <p>na powitalnej:    </p>
    <p>lista produktow i obrazkow bez mozlwosci zamawiania (paginacja i kategorie)    </p>
    <p>link MyOrders z lista zamowien closed true/false - > EditOrder -> dodawanie produktow do zamowienia    </p>
    <p>przycisk finalise order    </p>
    <p>          // todo: dodac pole image zeby wyswietlac w tabeli  </p>
    <p>    </p>
    <p>    </p>
    <p>    </p>
    <p>    </p>


</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
